{%if items.length>0%}
{% for item in items %}
<ul class="table-container" style="position: relative;">
	<li class="f-tl" style="width: 15%; padding-left: 15px; padding-right: 15px;">{{item.name}}</li>
	<li>{{item.count}}</li>
	<li class="f-tl" style="width: 15%; padding-left: 15px; padding-right: 15px;"><p title="金标红酒二维码">{{item.productName}}</p></li>
	<li>{%if item.codeType==1 %}
		二维码
		{%else%}
		条形码
		{%endif%}</li>
	<li class="f-tl" style="padding-left: 15px;">{{item.createTime}}</li>
	<li class="f-tl" style="padding-left: 15px;">
		{%if item.validType==1 %}
		永久有效
		{%else%}
		{{item.endTime}}
		{%endif%}
	</li>
	<li>
		{%if item.userCount==0 %}
		无粉
		{%else%}
		有粉
		{%endif%}
	</li>
	<li style="width: 15%;">

		<div class="u-btn-smltgry f-wb-ba" onclick="comm.qrcode.remarkDiv({{item.id}});">
			备注
		</div>
		<div class="m-btn-layer layer-2" style="right: 225px;display: none" id="remarkDiv{{item.id}}">
			<span class="out"></span>
			<span class="iner"></span>
			<div class="m-grade">
				<div class="u-txt">
					<input type="text" class="u-grades" value="" id="remarkVal{{item.id}}" />
				</div>
				<div class="u-btn-box1" style="border-top: none; padding-top: 0; padding-bottom: 8px;">
					<input type="button" class="u-btn-smltgry" value="取消" onclick="comm.qrcode.remarkDivHide({{item.id}});" />
					<input type="button" class="u-btn-smdkorg" value="保存" onclick="comm.qrcode.saveRemark({{item.id}});" />
				</div>
			</div>
		</div>

	</li>
	<li>
		<div class="u-btn-smltgry dialog-seedown" onclick="comm.qrcode.checkdown({{item.id}})">查看下载</div>
	</li>
</ul>
{%if item.printRemark!='' and item.printRemark!=null %}
<div class="table-remark">
	<p class="g-table">
		<font class="g-table-cell" style="width: 65px;"><i class="iconfont icon-drafts"></i>备注：</font>
		<span class="g-table-cell"><font color="#6A6A6A">{{item.printRemark}}</font></span>
	</p>
</div>
{%endif%}
{%endfor%}
{% else %}
<div class="m-jm-err">
	<img src="{{globalUrl}}/css/pc/img/jm-nodb.png">
</div>
{%endif%}