<div class="u-lb col-xs-12 order-number">订单编号：{{orderNum}}</div>
<ul class="table-container">
    <li>
        <img src="{{headimgurl}}" alt="暂无图片" class="u-thumbnail-circ">
    </li>
    <li style="width: 15%; padding: 0 30px;" class="f-ellipsis f-tl">
        <span>{{nickname| default('-',true)}}</span><br><span>{{userName | default('-',true)}}</span><br><span>{{phoneNumber| default('-',true)}}</span>
    </li>
    <li>
        {% if agentRole ==0 %}普通用户
        {% elif agentRole ==1 %}代理1档
        {% elif agentRole ==2 %}代理2档
        {% elif agentRole ==3 %}代理3档
        {% elif agentRole ==4 %}代理4档
        {% elif agentRole ==5 %}分销1档
        {% elif agentRole ==6 %}分销2档
        {% elif agentRole ==7 %}分销3档
        {% elif agentRole ==8 %}分享客
        {% endif %}

    </li>
    <li>{{totalPrice|default(0,ture) /100}}</li>
    <li>{{brokerage|default(0,ture) /100}}%</li>
    <li>{{commissionPrice|default(0,ture) /100}}</li>
    <li>{% if platForm ==0 %}微信 {% elif platForm ==1 %}微博{% endif %}</li>
    <li class="f-tl" style="padding-left: 20px;">{{orderDate|default(0,ture)}}</li>
    <li>{% if status==0 %}未收货 {% elif status ==1 %} 已收货未满7天 {% elif status ==2 %} 有效佣金{% elif status ==3 %} 无效佣金{% endif %}</li>
    <li>
        <div class="u-btn-smltgry dialog" onclick="sales.valid.detailItem(this);">查看</div>
    </li>
</ul>

