<div class="col-xs-12" style="padding: 0;">
    <input id="userId" value="{{userId}}" type="hidden">
    <form id="form2">
    <label class="u-lb-md f-cb">姓名</label>
    <div class="u-txt col-xs-8 f-mb-m">
        <input type="text" class="ipt-txt" id="userName_" name="userName" value="{{item.userName}}" placeholder="请输入姓名" />
    </div>
    <label class="u-lb-md f-cb">性别</label>
    <div class="u-txt col-xs-8 f-mb-m">
        <select class="ipt-txt" id="sex_" style="width: 100%">
            {%if item.sex==1%}
            <option value="1">男</option>
            <option value="2">女</option>
            {%elif item.sex==2%}
            <option value="2">女</option>
            <option value="1">男</option>
            {%else%}
            <option value="1">男</option>
            <option value="2">女</option>
            {%endif%}
        </select>
    </div>
    <label class="u-lb-md f-cb">手机</label>
    <div class="u-txt col-xs-8 f-mb-m">
        <input type="text" class="ipt-txt" placeholder="请输入手机" id="phoneNumber_" value="{{item.phoneNumber}}" disabled/>
    </div>
    <label class="u-lb-md f-cb">微信号</label>
    <div class="u-txt col-xs-8 f-mb-m">
        <input type="text" class="ipt-txt" id="wxnum_" name="wxnum" value="{{item.wxnum}}" placeholder="请输入微信号" />
    </div>
    </form>
    <label class="u-lb-md f-cb">员工号码</label>
    <div class="u-txt col-xs-8 f-mb-m">
        <input type="text" class="ipt-txt" placeholder="请输入员工号码" id="staffCode_" value="{{item.staffCode}}" disabled/>
    </div>
    <label class="u-lb-md f-cb">部门</label>
    <div class="u-txt col-xs-8 f-mb-m">
        <select class="ipt-txt"  id="department_" style="width: 100%">
            {% for zbDepartment in zbDepartmentList%}
            {%if zbDepartment.departmentId==item.zbDepartment%}
            <option value="{{zbDepartment.departmentId}}" selected>{{zbDepartment.departmentName}}</option>
            {%else%}
            <option value="{{zbDepartment.departmentId}}" >{{zbDepartment.departmentName}}</option>
            {%endif%}
            {%endfor%}
        </select>
        <span id="department_error" style="font-size: 12px;color:red;display: none;" >请选择部门</span>
    </div>
    <label class="u-lb-md f-cb">岗位</label>
    <div class="u-txt col-xs-8">
        <select class="ipt-txt" id="post_" style="width: 100%;">
            {% for post in zbPostList%}
            {%if post.postId==item.post%}
            <option value="{{post.postId}}" selected>{{post.postName}}</option>
            {%else%}
            <option value="{{post.postId}}">{{post.postName}}</option>
            {%endif%}
            {%endfor%}
        </select>
        <span id="post_error" style="display: none;color: red;font-size: 12px;">请选择岗位</span>
    </div>
    <label class="u-lb-md f-cb">角色</label>
    <div class="u-txt col-xs-8">
        <select class="ipt-txt"  id="role_" style="width: 100%;">
            {% for zbRole in zbRoleList%}
            {%if item.roleId and zbRole.id==item.roleId%}
            <option value="{{zbRole.id}}" selected>{{zbRole.roleName}}</option>
            {%else%}
            <option value="{{zbRole.id}}">{{zbRole.roleName}}</option>
            {%endif%}
            {%endfor%}
        </select>
        <span id="role_error" style="display: none;color: red;font-size: 12px;">请选择角色</span>
    </div>
    <div class="u-btn-box1">
        <input type="button" id="update_btn" class="u-btn-mdlightred" value="录入完成" onclick="staff.list.save()"/>
    </div>
</div>
<script type="text/javascript">
   staff.list.dialogInit();
</script>