<div class="goodslist-config f-cf">
<div class="row">
    <div class="col-xs-12">
      <label class="u-lb-md   f-pr-m col-xs-3">选择商品</label>
          <div class="goodsItemGroup col-xs-9">

              <div class="goodsItem addbtn"  >
                  <i class="iconfont icon-add add-btn"> </i>
              </div>
          </div>
    </div>
    <div class="col-xs-12">
        <label class="u-lb-md u-rd-lh f-pr-m">商品样式</label>
        <div class="f-fl">
            <div class="u-rb">
                <input type="radio" name="sizeType" id="sizeType-{{randomNum}}-0"  value="0"  {% if sizeType==0 %} checked {% endif %} >
                <label for="sizeType-{{randomNum}}-0"></label>
            </div>
            <label for="sizeType-{{randomNum}}-0" class="f-mr-s">小图</label>
            <div class="u-rb">
                <input type="radio" name="sizeType" id="sizeType-{{randomNum}}-1"  value="1"  {% if sizeType==1 %} checked {% endif %} >
                <label for="sizeType-{{randomNum}}-1"></label>
            </div>
            <label for="sizeType-{{randomNum}}-1" class="f-mr-s">大图</label>
            <div class="u-rb">
                <input type="radio" name="sizeType" id="sizeType-{{randomNum}}-2"   value="2"  {% if sizeType==2 %} checked {% endif %} >
                <label for="sizeType-{{randomNum}}-2"></label>
            </div>
            <label for="sizeType-{{randomNum}}-2" class="f-mr-s">长图</label>
            <div class="u-rb">
                <input type="radio" name="sizeType" id="sizeType-{{randomNum}}-3"  value="3"  {% if sizeType==3 %} checked {% endif %} >
                <label for="sizeType-{{randomNum}}-3"></label>
            </div>
            <label for="sizeType-{{randomNum}}-3">一大两小</label>
        </div>
    </div>
</div>
</div>