<div class="QRcode-config">
    <div class="radio-group f-mt-xs f-cf f-pt-s">
        <div class="u-rb f-fl f-mt-xs"  style="margin-left: 80px;">
            <input type="radio" id="{{randomNum}}-ewmCode1" name="ewmCode" value="1" {%if ewmCode=='1' %}checked{%endif%}  >
            <label   for="{{randomNum}}-ewmCode1"></label>
        </div>
        <label for="{{randomNum}}-ewmCode1"></label>
        <label for="{{randomNum}}-ewmCode1" class=""><img  class="f-fl" src="{{globalUrl}}/css/pc/img/erm1.png"></label>
        <div class="u-rb f-fl f-mt-xs" style="margin-left: 70px;">
            <input type="radio" id="{{randomNum}}-ewmCode2" name="ewmCode" value="2" {%if ewmCode=='2' %}checked{%endif%}  >
            <label  for="{{randomNum}}-ewmCode2"></label>
        </div>
        <label for="{{randomNum}}-ewmCode2"></label>
        <label for="{{randomNum}}-ewmCode2" class=""><img  class="f-fl" src="{{globalUrl}}/css/pc/img/ewm2.png"></label>
    </div>

</div>
