<div class="m-jm-table panel-hid">
    <ul class="table-hander">
        <li style="width:25%;">活动名称</li>
        <li>红包类型</li>
        <li>预算金额（元）</li>
        <li>预计粉丝（人）</li>
        <li>开始时间</li>
        <li>结束时间</li>
        <li style="width:16%;">操作</li>
    </ul>
    <div class="table-body" id="redPaperList">
        {%if items.length>0%}
        {%for item in items%}
        <ul class="table-container f-pd f-t-off">
            <li class="f-tl" style="width:25%;">
                <p title="">{{item.activityName}}</p>
            </li>
            <li>
                {%if item.subType==1%}
                首次关注发红包
                {%elif item.subType==2%}
                已关注粉丝发红包
                {%elif item.subType==3%}
                购买商品发红包
                {%elif item.subType==4%}
                确认收货发红包
                {%else%}
                卡卷转赠发红包
                {%endif%}
            </li>
            <li>{{item.totalMoney/100}}</li>
            <li>{{item.preFansCount}}</li>
            <li class="f-tl" style="padding-left: 30px;">{{item.startTime}}</li>
            <li class="f-tl" style="padding-left: 30px;">{{item.endTime}}</li>
            {%if item.status==0%}
            <li style="width:16%;">
                <div class="u-btn-smltgry" onclick="juke.jukeRed.del('{{item.id}}','{{item.activityName}}')">取消 </div>
            </li>
            {%elif item.status==1%}
            <li style="width:16%;">
                <div class="u-btn-smltgry" onclick="juke.jukeRed.watch('{{item.id}}','{{item.subType}}')">查看 </div>
                <div class="u-btn-smltgry" onclick="juke.jukeRed.set('{{item.id}}','{{item.activityName}}','{{item.status}}')"><i class="iconfont icon-righttriangle"></i>启动</div>
                <div class="u-btn-smltgry" onclick="juke.jukeRed.del('{{item.id}}','{{item.activityName}}')">取消 </div>
            </li>
            {%elif item.status==2%}
            <li style="width:16%;">
                <div class="u-btn-smltgry" onclick="juke.jukeRed.watch('{{item.id}}','{{item.subType}}')">查看 </div>
                <div class="u-btn-smltgry" onclick="juke.jukeRed.set('{{item.id}}','{{item.activityName}}','{{item.status}}')"><i class="iconfont icon-pause c-lightred"></i>暂停</div>
                <div class="u-btn-smltgry" onclick="juke.jukeRed.del('{{item.id}}','{{item.activityName}}')">取消 </div>
            </li>
            {%elif item.status==3%}
            <li style="width:16%;">
                <div class="u-btn-smltgry" onclick="juke.jukeRed.watch('{{item.id}}','{{item.subType}}')">查看 </div>
            </li>
            {%endif%}
        </ul>
        {%endfor%}
        {%else%}
        <div class="m-jm-err">
            <img src="{{globalUrl}}/css/pc/img/jm-nodb.png"> 
        </div>
        {%endif%}

    </div>
    <div id="pageRedPaperToolbar" class="pagination f-fr f-mt-m">

    </div>
</div>