<form id="trad_set_mofify_form">
<input type="hidden" name="ac_id" value="{{id}}">
<div class="col-xs-12">
    <label class="u-lb-sm c-gray1">活动名称</label>
    <div class="u-txt col-xs-5 f-mb-m">
        <input type="text" name="action_name" class="ipt-txt c-gray1" placeholder="请输入活动名称" value="{{name}}">
    </div>
</div>
<div class="col-xs-12">
    <label class="u-lb-sm c-gray1">选择商品</label>
    <div class="u-more f-fl f-ml-m dialog-barbox" id="chooseProduct">
        点击选择<span></span>
    </div>
    <div id="chooseProductBox" class="col-xs-6 f-ml-m m-selectbarbox f-t-off1" style="height: 36px; border-color: #f7f7f7; font-size: 14px;">
        <p data-goodPrice="{{productPrice/100}}" data-pid="{{pid}}" title="{{productName}}" style="max-height: 36px; line-height: 34px;">{{productName}}</p>
    </div>
</div>
<div class="col-xs-12">
    <label class="u-lb-sm c-gray1">预览效果</label>
    <div class="col-xs-10 f-mb-m">
        <div class="u-previewxg">
            <img id="xg_mofify_preview" src="{{picSquare|default(globalUrl+'/css/pc/img/addti-tp.png',true)}}" class="xg-img">
            {%if position==1%}
              <img id="img_position" src="{{globalUrl}}/css/pc/img/music_disc.png" class="xg-ys" style="right: 0; top: 0;">
            {%elif position==2%}
            <img id="img_position" src="{{globalUrl}}/css/pc/img/music_disc.png" class="xg-ys" style="right: 0; bottom: 0;">
            {%elif position==3%}
            <img id="img_position" src="{{globalUrl}}/css/pc/img/music_disc.png" class="xg-ys" style="left: 0; top: 0;">
            {%elif position==4%}
            <img id="img_position" src="{{globalUrl}}/css/pc/img/music_disc.png" class="xg-ys" style="left: 0; bottom: 0;">
            {%endif%}
        </div>
    </div>
</div>
<div class="col-xs-12">
    <label class="u-lb-sm c-gray1 f-pt-m">选择图片样式</label>
    <div class="col-xs-10 u-selectstyle f-pt-s f-mb-m" id="trad_img_type">


    </div>
</div>
<div class="col-xs-12">
    <label class="u-lb-sm c-gray1">选择图片位置</label>
    <div class="col-xs-10 f-pt-s f-mb-m">
        <!--<div class="u-rb">-->
            <!--{%if position==1%}-->
              <!--<input type="radio" data-positon="right,top" name="weiz" id="radiowz1" value="1" checked>-->
            <!--{%else%}-->
            <!--<input type="radio" data-positon="right,top" name="weiz" id="radiowz1" value="1">-->
            <!--{%endif%}-->
            <!--<label for="radiowz1"></label>-->
        <!--</div>-->
        <!--<label for="radiowz1" class="u-rd-wd f-mr-l">右上角</label>-->
        <!--<div class="u-rb">-->
            <!--{%if position==2%}-->
            <!--<input type="radio" data-positon="right,bottom" name="weiz" id="radiowz2" value="2" checked>-->
            <!--{%else%}-->
            <!--<input type="radio" data-positon="right,bottom" name="weiz" id="radiowz2" value="2">-->
            <!--{%endif%}-->
            <!--<label for="radiowz2"></label>-->
        <!--</div>-->
        <!--<label for="radiowz2" class="u-rd-wd f-mr-l">右下角</label>-->
        <div class="u-rb">
            {%if position==3%}
            <input type="radio" data-positon="left,top" name="weiz" id="radiowz3" value="3" checked>
            {%else%}
            <input type="radio" data-positon="left,top" name="weiz" id="radiowz3" value="3">
            {%endif%}
            <label for="radiowz3"></label>
        </div>
        <label for="radiowz3" class="u-rd-wd f-mr-l">左上角</label>
        <!--<div class="u-rb">-->
            <!--{%if position==4%}-->
            <!--<input type="radio" data-positon="left,bottom" name="weiz" id="radiowz4" value="4" checked>-->
            <!--{%else%}-->
            <!--<input type="radio" data-positon="left,bottom" name="weiz" id="radiowz4" value="4">-->
            <!--{%endif%}-->
            <!--<label for="radiowz4"></label>-->
        <!--</div>-->
        <!--<label for="radiowz4" class="u-rd-wd f-mr-l">左下角</label>-->
    </div>
</div>
<div class="col-xs-12 f-mb-s">
    <label class="u-lb-sm c-gray1">商品拼团价</label>
    <div class="u-txt col-xs-3">
        <div class="ipt-txt11" style="width: 100%;">
            <i class="icon-lb-word c-gray">元</i>
            <input type="text" name="product_price" class="ipt-txt c-gray1" value="{{price/100}}">
        </div>
    </div>
</div>
<div class="col-xs-12 f-mb-s">
    <label class="u-lb-sm c-gray1">拼团人数</label>
    <div class="u-txt col-xs-3">
        <select class="ipt-txt c-gray1" id="trad_type">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>
</div>
<div class="u-btn-box1 f-mt-m">
    <input type="button" class="u-btn-gymainlg f-mr-s" value="关闭" id="ac_modify_close">
    <input type="button" class="u-btn-mainlg" value="保存" id="ac_modify_save">
</div>
</form>