{%if paramsObj.edit==1%}
   <input type="hidden" data-issel="{{isSel}}" data-sort="{{sort}}" data-type="{{type}}" data-qrcodeId="{{qrcodeId}}" id="add_code_hidden" data-src="{{imageSrc}}" data-ctop="{{userCounttopPosition}}" data-cleft="{{userCountleftPosition}}" data-upTime="{{uploadTime}}" data-nleft="{{nickNameleftPosition}}"  data-ntop="{{nickNametopPosition}}" data-format="{{codeFormat}}" data-uleft="{{userBoxleftPosition}}" data-utop="{{userBoxtopPosition}}" data-top="{{topPosition}}" data-left="{{leftPosition}}" data-font="{{fontType}}" data-color="#{{fontColor}}">
{%else%}
   <input type="hidden" id="add_code_hidden" data-src="" data-upTime="" data-nleft=""  data-ntop="" data-format="0" data-uleft="" data-utop="" data-top="" data-ctop="" data-cleft="" data-left="" data-font="" data-color="">
{%endif%}
<div id="dialoginfo-addhb" class="dialoginfo" style="display: block;">
    <div class="col-xs-12" style="border: 1px solid #f0f0f0; border-radius: 5px;">
        <div class="col-xs-6">
            <div class="m-phone-view">
                <div class="phone-shell-top">
                </div>
                <div id="code_wrapper" class="phone-window fxsz" style="position: relative; overflow: hidden;">
                    <div id="code_wrap" style="width:300px;height:533px;margin:0 auto;position: relative;">
                    <img src="" id="code_wrapper_img">
                    <div id="drag" class="drag ui-draggable ui-draggable-handle" style="position: absolute; width: 72px; height: 72px;">
                        <img src="{{globalUrl}}/css/pc/img/code.jpg" alt="二维码" style="width:72px;height:72px;">
                    </div>
                    <div class="u-phonecon u-moveheadimg"  id="u-drag">
                        <span><img src="{{globalUrl}}/css/pc/img/fanshead.png"></span>
                    </div>
                    <div class="u-phonecon u-moveheadimg" id="u-move-drag">
                        <label style="font-family:'宋体'" id="labelFont">粉丝昵称</label>
                    </div>
                    <div class="u-phonecon u-moveheadimg" id="u-move-drag-number">
                        <label>用户编号</label>
                    </div>
                    </div>
                </div>
                <div class="phone-shell-bottom">
                </div>
            </div>
        </div>
        <div class="col-xs-6 f-pt-xxl" style="padding-right: 0;">
            <label class="u-lb-sm f-cb" style="width: 45px;">背景图</label>
            <div class="m-add-pic col-xs-5 f-pt-s f-pb-m">
                <img id="add_picture" src="{{imageSrc|default(globalUrl+'/css/pc/img/no_picture.png',true)}}">
            </div>
            <label class="u-lb-sm f-cb" style="width: 45px;">名称</label>
            <div class="u-txt col-xs-10 f-mb-m" style="padding-right: 0;">
                <input type="text" value="{{posterName}}" name="postName" class="ipt-txt c-gray1" placeholder="请输入名称">
            </div>
            <label class="u-lb-sm f-cb" style="width: 45px;">版式</label>
            <div class="u-txt col-xs-10 f-mb-m" style="padding-right: 0;">
                <select class="ipt-txt c-gray1" id="SelectFormat">
                    {%if codeFormat==0 or codeFormat==null%}
                       <option value="0" selected>A 版</option>
                       <option value="1">B 版</option>
                       <option value="2">C 版</option>
                    {%elif codeFormat==1%}
                        <option value="0">A 版</option>
                        <option value="1" selected>B 版</option>
                        <option value="2">C 版</option>
                    {%elif codeFormat==2%}
                        <option value="0">A 版</option>
                        <option value="1">B 版</option>
                        <option value="2" selected>C 版</option>
                    {%endif%}
                </select>
            </div>
            <!--以下是B版显示-->
            <div class="col-xs-12" style="padding: 0;display:none;" id="codeFormatB">
                <label class="u-lb-sm f-cb" style="width: 45px;">字体</label>
                <div class="m-couponcolor f-fl f-ml-m f-mb-m m-cpc1" style="width: 260px;">
                    <span style="width: 220px;height:25px;line-height: 25px;" id="fontFamilySpan">楷体</span>
                    <i  class="iconfont icon-belowtriangle" id="fontFamBtn"></i>
                    <div class="u-couponcolor u-cpc1 font-s12" style="width: 260px" id="setFont">
                        <em style="font-family: '宋体';" onclick="activity.newcode.setFont('宋体')">宋体</em>
                        <em style="font-family: '黑体';" onclick="activity.newcode.setFont('黑体')">黑体</em>
                        <em style="font-family: '楷体';" onclick="activity.newcode.setFont('楷体')">楷体</em>
                        <em style="font-family: '仿宋';" onclick="activity.newcode.setFont('仿宋')">仿宋</em>
                        <em style="font-family: '微软雅黑';" onclick="activity.newcode.setFont('微软雅黑')">微软雅黑</em>
                        <em style="font-family: '华文新魏';" onclick="activity.newcode.setFont('华文新魏')">华文新魏</em>
                    </div>
                </div>
                <label class="u-lb-sm f-cb" style="width: 45px;">颜色</label>
                <div class="m-couponcolor f-mb-m f-fl f-ml-m f-setFontmb-m m-cpc2" style="width: 260px;">
                    <span style="width: 220px; background-color: #ff2a22;" id="fontSpan"></span>
                    <i class="iconfont icon-belowtriangle" id="fontBtn"></i>
                    <div class="u-couponcolor u-cpc2" style="width: 260px" id="fontColor">
                        <em style="background-color: #22c2fe;" onclick="activity.newcode.setColor('#22c2fe')"></em>
                        <em style="background-color: #fe6382;" onclick="activity.newcode.setColor('#fe6382')"></em>
                        <em style="background-color: #fdc412;" onclick="activity.newcode.setColor('#fdc412')"></em>
                        <em style="background-color: #ff2a22;" onclick="activity.newcode.setColor('#ff2a22')"></em>
                        <em style="background-color: #f08501;" onclick="activity.newcode.setColor('#f08501')"></em>
                        <em style="background-color: #e65dc7;" onclick="activity.newcode.setColor('#e65dc7')"></em>
                        <em style="background-color: #b1c700;" onclick="activity.newcode.setColor('#b1c700')"></em>
                        <em style="background-color: #252525;" onclick="activity.newcode.setColor('#252525')"></em>
                    </div>
                </div>
            </div>
            <dl class="col-xs-11 f-cb u-wx-explain f-ml-m">
                <dt style="font-size: 14px;">温馨提示：</dt>
                <dd><font class="u-exp-dot">· </font><a href="#">查看客户案例</a></dd>
                <dd><font class="u-exp-dot">· </font>二维码海报仅限微信、微博商场使用</dd>
                <dd><font class="u-exp-dot">· </font>海报模板尺寸（宽*高）：<font class="c-orange1">750 * 1334</font> PX，上传尺寸错误将影响海报生成</dd>
            </dl>
        </div>
    </div>
    <div class="f-cb"></div>
    <div class="u-btn-box1 f-mt-m">
        <input type="button" id="btn_close" class="u-btn-mdltgry f-mr-xs" value="关闭">
        <input type="button" id="btn_save" class="u-btn-mddkorg u-w" value="保存 ">
    </div>
</div>