
{% if items.length>0 %}
{%for item in items%}
<ul class="table-container f-pd">
    <li class="f-tl" style="width: 35%;" onclick="agent.notice.getNoticeContext('{{item.id}}')">
        <a class="dialog">{{item.title}}</a>
    </li>
    <li>
        {%if item.type==1%}系统公告
        {%elif item.type==2%}功能使用
        {%elif item.type==3%}市场政策
        {%elif item.type==4%}市场活动
        {%elif item.type==5%}费用结算
        {%elif item.type==6%}公司动态
        {%elif item.type==7%}行业动态
        {%else %}无类别
        {%endif%}
    </li>
    <li>{{item.createDate}}</li>
    <li >
        <div class="u-btn-smltgry dialog1"> 员工选择 </div>
    </li>
</ul>
{%endfor%}
{%else%}
<div class="m-jm-err">
    <img src="{{globalUrl}}/css/pc/img/jm-nodb.png">
</div>
{%endif%}