{%if items.length>0%}
{% for item in items %}
<ul class="table-container" style=" position: relative;">
    <li>
        <div class="g-table">
            <div class="g-table-cell f-vm" style="width:10%;">
                <div class="u-cb" style="margin-bottom: 6px">
                    <input type="checkbox" name="userIdCheckBox" id="checkbox{{item.userId}}" value="{{item.userId}}" />
                    <label class="iconfont icon-avoid"  for="checkbox{{item.userId}}"></label>
                </div>
            </div>
            <div class="g-table-cell f-vm">
                {% if item.isSubscribe==1 %}
                <a data-id="{{item.userId}}" onclick="ImInfo.openChatWin(this,'{{item.userId}}');">
                 {%endif%}
                        {%if item.headimgurl!='' %}
                        <img src="{{item.headimgurl}}" class="u-thumbnail-circ"  >
                        {%else%}
                        <img src="{{globalUrl}}/css/pc/img/no_picture.png" alt="暂无图片" class="u-thumbnail-circ" >
                        {%endif%}
                {% if item.isSubscribe==1 %}
                </a>
                {%endif%}
            </div>
        </div>
    </li>
    {% if item.isSubscribe==1 %}
    <li class="f-tl" style="width:15%; padding: 0 35px;line-height: 20px;">
        <a data-id="{{item.userId}}" onclick="ImInfo.openChatWin(this,'{{item.userId}}');">
            {%if item.nickname=='' or item.nickname==null %}-{%else%}{{item.nickname}}{%endif%}
        </a>
        <br>
        <a data-id="{{item.userId}}" onclick="ImInfo.openChatWin(this,'{{item.userId}}');">
            {%if item.susername=='' or item.susername==null %}-{%else%}{{item.susername}}{%endif%}
        </a>
        <br>
        <a data-id="{{item.userId}}" onclick="ImInfo.openChatWin(this,'{{item.userId}}');">
            {%if item.sphonenumber=='' or item.sphonenumber==null  %}-{%else%}{{item.sphonenumber}}{%endif%}
        </a>
    </li>
    {%else%}
    <li class="f-tl" style="width:15%; padding: 0 35px;line-height: 20px;">
        {%if item.nickname=='' or item.nickname==null %}-{%else%}{{item.nickname}}{%endif%}
        <br>
        {%if item.susername=='' or item.susername==null %}-{%else%}{{item.susername}}{%endif%}
        <br>
        {%if item.sphonenumber=='' or item.sphonenumber==null  %}-{%else%}{{item.sphonenumber}}{%endif%}
    </li>
    {%endif%}
    <li style="width:5%;" >{%if item.sex==1%}男{%elif item.sex==2%}女 {%else%}-{%endif%}</li>
    <li>
        {%if item.agentRole==1 %}
        代理商1档
        {%elif item.agentRole==2 %}
        代理商2档
        {%elif item.agentRole==3 %}
        代理商3档
        {%elif item.agentRole==4 %}
        代理商4档
        {%elif item.agentRole==5 %}
        分销商1档
        {%elif item.agentRole==6 %}
        分销商2档
        {%elif item.agentRole==7 %}
        分销商3档
        {%elif item.agentRole==8 %}
        分享客
        {%else%}
        -
        {%endif%}
    </li>
    <li class="f-tl" style="padding-left: 30px;">{{item.subscribeTime}}</li>
    <li>
        <div onclick="customer.operation.levelDialog({{item.userId}});">
            <div class="u-btn-smltgry f-mb-xs">
                {% if item.levelName==null or item.levelName=='' %}
                等级
                {% else %}
                {{item.levelName}}
                {% endif %}
            </div>
        </div>

        <div class="m-btn-layer" style="display: none; right: 275px;" id="levelDialog{{item.userId}}">
            <span class="out"></span>
            <span class="iner"></span>
            <div class="m-grade">
                <div class="h-scroll">
                    {%if levels.length>0%}
                    {% for level in levels %}
                    <div class="u-txt active">
                        <div class="u-rb">
                            <input type="radio" name="levelName{{item.userId}}" id="radioBox{{item.userId}}{{level.id}}" value="{{level.id}}"  />
                            <label for="radioBox{{item.userId}}{{level.id}}"></label>
                        </div>
                        <label for="radioBox{{item.userId}}{{level.id}}" class="u-grade">{{level.levelName}}</label>
                    </div>
                    {%endfor%}
                    {%endif%}
                </div>
                <div class="u-btn-box1" style="padding-top: 8px; padding-bottom: 8px;">
                    <input type="button" class="u-btn-smdkorg" value="保存" onclick="customer.operation.saveLevel({{item.userId}});" />
                    <input type="button" class="u-btn-smltgry" value="取消" onclick="customer.operation.cancel();" />
                </div>
            </div>
        </div>
        {% if item.isSubscribe==1 %}
        <div onclick="customer.operation.groupDialog({{item.userId}});">
            <div class="u-btn-smltgry f-mb-xs">
                {% if item.groupname==null or item.groupname=='' %}
                     分组
                {% else %}
                    {{item.groupname}}
                {% endif %}
            </div>
        </div>
        <div class="m-btn-layer layer-1" style="display: none; right: 275px;" id="groupDialog{{item.userId}}">
            <span class="out"></span>
            <span class="iner"></span>
            <div class="m-grade">
                <div class="h-scroll">
                    {%if groups.length>0%}
                    {% for group in groups %}
                        <div class="u-txt" onclick="customer.operation.labelInput(this)">
                            <div class="u-rb">
                                <input type="radio" name="groupName{{item.userId}}" id="radioBox{{item.userId}}{{group.id}}" value="{{group.groupid}}" />
                                <label for="radioBox{{item.userId}}{{group.id}}"></label>
                            </div>
                            <input type="text" class="u-grade" value="{{group.name}}" disabled />
                            <div class="u-layer-operate">
                                {% if group.groupid!=0 and group.groupid!=1 and group.groupid!=2 %}
                                     <i class="iconfont icon-modified"></i>
                                     <i class="iconfont icon-delete" onclick="customer.operation.delGroup({{group.groupid}})"></i>
                                {%endif%}
                            </div>
                        </div>
                    {%endfor%}
                    {%endif%}
                    <!--自定义输入组名-->
                    <div class="u-txt f-pb-s">
                        <div class="u-rb">
                            <input type="radio" name="groupName{{item.userId}}" id="new1Group{{item.userId}}" value="new" />
                            <label for="new1Group{{item.userId}}"></label>
                        </div>
                        <input type="text" class="u-grades" value="" />
                    </div>
                </div>
                <div class="u-btn-box1" style="padding-top: 8px; padding-bottom: 8px;">
                    <input type="button" class="u-btn-smdkorg" value="保存" onclick="customer.operation.saveGroup('{{item.userId}}',this)" />
                    <input type="button" class="u-btn-smltgry" value="取消" onclick="customer.operation.cancel();" />
                </div>
            </div>
        </div>
        <div onclick="customer.operation.remarkDialog({{item.userId}});">
            <div class="u-btn-smltgry f-mb-xs">
                {% if item.remark==null or item.remark=='' %}
                         备注
                {% else %}
                       {{item.remark}}
                {% endif %}
            </div>
        </div>
        <div class="m-btn-layer layer-2" style="display: none; right: 275px;" id="remarkDialog{{item.userId}}">
            <span class="out"></span>
            <span class="iner"></span>
            <div class="m-grade">
                <div class="u-txt">
                    <input type="text" class="u-grades" value="{{item.remark}}" id="remark{{item.userId}}" />
                </div>
                <div class="u-btn-box1" style="padding-top: 8px; padding-bottom: 8px;">
                    <input type="button" class="u-btn-smdkorg" value="保存" onclick="customer.operation.saveRemark({{item.userId}});" />
                    <input type="button" class="u-btn-smltgry" value="取消" onclick="customer.operation.cancel();" />
                </div>
            </div>
        </div>
        {% endif %}
    </li>
    <li style="width: 15%">
        <a onclick="customer.operation.modifyTopUser({{item.userId}})"> 上级客户</a><font color="#d9d9d9"> | </font>
        <a onclick="customer.operation.lastUserPopMsg({{item.userId}})">下级客户</a>
        <br /><div class="u-btn-smltgry f-mt-s" onclick="customer.operation.userRolePopMsg({{item.userId}})">升级角色</div>
    </li>

</ul>
{%endfor%}

{% else %}
<div class="m-jm-err">
    <img src="{{globalUrl}}/css/pc/img/jm-nodb.png">
</div>
{%endif%}
<script>
    ImInfo.initData('{{userSession.hxAccount}}','{{userSession.userId}}','{{userSession.userName}}','{{userSession.headImg}}','{{userSession.shopId}}');
    ImInfo.getHintWin().setting({
        model:"default"
    });
</script>