<style>
    .ui-dialog-body{
        padding:0 5px 10px;
    }
</style>
<div>
    <div class="m-person-totle1 f-mt-m">人数：<span id="count">{{items.length }}</span></div>
<div class="m-jm-table" >
	<ul class="table-hander">
		<li>头像</li>
		<li>昵称-姓名-手机号</li>
		<li>关注时间</li>
		<li>微平台</li>
		<li>角色</li>
		<li>等级</li>
	</ul>
	<div class="table-body">
		{%if items.length>0%}
		{% for item in items %}
			<ul class="table-container">
				<li><img src="{{item.headimgurl}}" class="u-thumbnail-circ"></li>
				<li>
				<span>{{item.nickname}}</span><br><span>{{item.userName}}</span><br><span>{{item.phoneNumber}}</span>
				</li>
				<li>{{item.subscribeTime}}</li>
				<li>微信</li>
				<li >
					{%if item.agentRole==1 %}
					代理商1档
					{%elif item.agentRole==2 %}
					代理商2档
					{%elif item.agentRole==3 %}
					代理商3档
					{%elif item.agentRole==4 %}
					代理商4档
					{%elif item.agentRole==5 %}
					分销商1档
					{%elif item.agentRole==6 %}
					分销商2档
					{%elif item.agentRole==7 %}
					分销商3档
					{%elif item.agentRole==8 %}
					分享客
					{%else%}
					-
					{%endif%}
				</li>
				<li>
					{{item.levelName}}
				</li>
			</ul>
		{%endfor%}
		{% else %}
		<div class="m-jm-err">
			<img src="{{globalUrl}}/css/pc/img/jm-nodb.png">
		</div>
		{%endif%}
	</div>
    <div id="pageToolbar" class="pagination f-fr f-mt-m">

    </div>
</div>

</div>


