{%if items.length>0%}
{% for item in items %}
<table  class="m-table-control">
    <tbody>
    <tr class="bg-gray">
        <td colspan="6" style="border-top: none;">
            <ul>
                <li class="f-fl f-pl-s">订单编号：{{item.orderNum}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp收款流水号：{{item.transactionId}}   </li>
                <li class="service f-fr f-pr-s"><a data-id="{{item.userId}}" onclick="ImInfo.openChatWin(this,'{{item.userId}}');">{{item.nickname}}{% if item.headimgurl %}<img class="u-thumbnail-circ" src="{{item.headimgurl}}" />{% else %}<img class="u-thumbnail-circ" src="css/pc/img/s-newshop-lt-img3.jpg" />{% endif %}</a></li>
            </ul>
        </td>
    </tr>
    {% if item.remark or item.sellerNote %}
    <tr class="buy-top" style="word-break: break-all;">
        <td colspan="2" >
            {% if item.remark %}
            <p class="f-tl f-pl-s g-table">
                                    <span class="g-table-cell">
                                        <img class="u-thumbnail-circ" src="{{globalUrl}}/css/pc/img/icon_buy.png" />
                                    </span>
                <span class="g-table-cell">买家留言：<font color="#6A6A6A">{{item.remark}}</font></span>
            </p>
            {% endif %}
        </td>

        <td colspan="3" >
            {% if item.sellerNote %}
            <p class="f-tl f-pl-s g-table">
			     	 			<span class="g-table-cell">
			     	 				<img class="u-thumbnail-circ" src="{{globalUrl}}/css/pc/img/icon_sale.png" />
			     	 			</span>
                <span class="g-table-cell">卖家留言：<font color="#6A6A6A">{{item.sellerNote}}</font></span>
            </p>
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% for orderDetail in item.orderDetails %}
    <tr>
        <td style="width:40%;">
            <div class="g-table">
                <div class="g-table-cell f-vm" style="width: 20%;padding-top: 5px;">
                    {% if orderDetail.pic %}
                    <img class="u-thumbnail-squa" src="{{orderDetail.pic}}"/>
                    {% else %}
                    <img class="u-thumbnail-squa" src="{{globalUrl}}/css/pc/img/no_picture.png"/>
                    {% endif %}
                </div>
                <div class="g-table-cell f-vm f-tl" style="width: 28%;">
                    <span>{{orderDetail.name}}&nbsp&nbsp&nbsp{{orderDetail.specValueTwo}}</span><br>
                    <font color="#6a6a6a">{{orderDetail.specValueOne}}&nbsp&nbsp&nbsp{{orderDetail.specValueThree}}</font>
                </div>
                <div class="g-table-cell f-vm f-tl" style="width: 12%;">
                    <font color="#e29c3d">{{orderDetail.count}}件</font>
                </div>
            </div>
        </td>
        <td class="font-color-black" style="width:15%;" >
            {{item.createDate}}
        </td>
        <td class="font-color-black" style="width:15%;" >
            {{item.userName}}<br>{{item.phoneNumber}}
        </td>
        <td class="font-color-black" style="width:20%;" >
            {{item.detailAddress}}
        </td>
        <td style="width:10%;" >
            {% if orderDetail.goodStatus==0 %}
            <span>退货中</span><br>
            <div class="u-btn-smltgry f-mb-xs f-mt-xs" onclick="refundGood.list.querySend('{{item.orderInfoId}}')"><span>查看物流</span></div><br>
            <div class="u-btn-smltgry f-mb-xs" onclick="refundGood.list.storageNote('{{item.orderInfoId}}')"><span>入库备注</span></div><br>
            <div class="u-btn-smltgry" onclick="refundGood.list.refundGoodConfirm('{{item.orderInfoId}}','1','你确定要确认收货？')"><span>确认入库</span></div>
            {% elif orderDetail.goodStatus==1 %}
            <span>已入库</span><br>
            <div class="u-btn-smltgry f-mt-xs dialog1" onclick="refundGood.list.storageNote('{{item.orderInfoId}}')"><span>入库备注</span></div>
            {% else %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}
{%else%}
<div class="m-jm-err">
    <img src="{{globalUrl}}/css/pc/img/jm-nodb.png">
</div>
{%endif%}
<script>
    ImInfo.initData("{{ext.hxAccount}}","{{ext.userid}}","{{ext.nickname}}","{{ext.headImg}}","{{ext.shopId}}");
</script>