
    {% if items.length>0 %}
    {%for item in items%}
    <ul class="table-container">
        <li>
            <img src="{{item.imgUrl}}"  class="u-thumbnail-circ">
        </li>
        <li>
            <img src="{{item.pubQrcodeUrl}}"  class="u-thumbnail-circ" style="border-radius: inherit;">
        </li>
        <li>{{item.shopName}}</li>
        <li class="f-tl" style="width: 12%; padding-left: 30px;">
            <span></span><br><span>{{item.operUserName}}</span><br><span>{{item.operPhoneNumber}}</span>
        </li>
        <li class="f-tl" style="width: 12%; padding-left: 30px;">
            <span></span><br><span></span><br><span></span>
        </li>
        <li>微信</li>
        <li>{{item.createDate}}</li>
        {%if item.shopStatus==0%}
        <li>开通</li>
        <li>
            <div class="u-btn-smltgry" onclick="shop.review.closeShop('{{item.shopId}}','{{item.shopName}}')"><i class="iconfont icon-signout" style="color: #f69f8e;"></i>关停</div>
        </li>
        {%else%}
        <li>关停</li>
        <li>
            <div class="u-btn-smltgry" onclick="shop.review.openShop('{{item.shopId}}','{{item.shopName}}')"><i class="iconfont icon-righttriangle" style="color: #95d096;"></i>开通</div>
        </li>
        {%endif%}
        <li>
            <div class="u-btn-smltgry">查看</div>
        </li>
    </ul>
    {%endfor%}
    {%else%}
    {% include "/tpl/system/nodb.html" %}
    {%endif%}

