<style>

    .m-fine-push{
        right:470px;
    }
    .m-fine-push span.iner{
        top:80px;
    }
    .m-fine-push span.out{
        top:80px;
    }
    .m-jm-table .table-body .table-container li {
        vertical-align: top;
        /*padding-top: 43px;*/
    }
    .m-jm-table .table-body .table-container li:first-child {
        vertical-align: middle;
        padding: 18px 0 12px;
    }
</style>
<ul class="table-hander" >
    <!--<li style="text-align: left;padding-left: 10px;">标题</li>-->
    <li>发送日期</li>
    <li style="width: 12%">发送人</li>
    <li>发送状态</li>
    <li >查看</li>
    <li >操作</li>
</ul>
<div class="table-body" style="overflow: visible">
    {% if items.length >0 %}
    {%for item in items%}
    <ul class="table-container" style="position: relative;">
      <!--  <li class="f-tl">
            <a class="dialog1">{{item.title}}</a>
        </li>-->
        <li>{{item.sendTime}}</li>
        <li style="width:12%;">{{item.userName}}</li>
        <li>{{item.statusName}}</li>
        <li >
            <div class="u-btn-smltgry" id="txtlickview_{{loop.index}}"> 查看条件</div><input type="hidden" id="txtview_{{loop.index}}" value="{{item|toString}}"/>
            <div class="m-btn-layer m-fine-push" id="txtontainer_{{loop.index}}" style="display: none;">

            </div >
            <div class="u-btn-smltgry" onclick="mm.massmsg.mm_sended_txtview('{{item.content}}');"> <i class="iconfont icon-search"></i>查看内容 </div>
        </li>

        <li >

            <div class="u-btn-smltgry dialog2" id="del_{{item.id}}"> <i class="iconfont icon-delete1"></i>删除 </div>
        </li>
    </ul>
    {%endfor%}
    {% else %}


    <div class="m-jm-err">
        <img src="{{globalUrl}}/css/pc/img/jm-nodb.png">
    </div>
    {% endif %}


</div>
<script>
    mm.massmsg.mm_picandtext_del();
</script>