<div class="table-body h-scroll u-zero-fpm">
    {%if items.length>0 %}
    {%for item in items%}
    {%if item.activityUserId>0 %}
    <ul class="table-container">
        <li><img class="u-thumbnail-circ" src="{{item.headimgurl}}"></li>
        <li style="width:20%; text-align: left; padding-left: 15px;">{{item.nickname}}</li>
        <li>{{item.money/100}}</li>
        <li style="width: 25%;">{{item.createTime}}</li>
        {%if item.moneyStatus==0%}
        <li>未发送</li>
        {%elif item.moneyStatus==1%}
        <li>未领取</li>
        {%elif item.moneyStatus==2%}
        <li>已领取</li>
        {%elif item.moneyStatus==3%}
        <li>发放失败</li>
        {%elif item.moneyStatus==4%}
        <li>已退款</li>
        {%endif%}
    </ul>
    {%endif%}
    {%endfor%}
    {%else%}
    <div class="m-jm-err">
        <img src="{{globalUrl}}/css/pc/img/jm-nodb.png">
    </div>
    {%endif%}

</div>
