<!--进行中-->
{%if items.length>0%}
{%for item in items%}
        <ul class="table-container f-pd f-t-off">
            <li class="f-tl" style="width:20%; padding: 0 15px;">
                <p title="">{{item.activityName}}</p>
            </li>
            <li>
                {%if item.subType==1%}
                首次关注发红包
                {%elif item.subType==2%}
                已关注粉丝发红包
                {%elif item.subType==3%}
                购买商品发红包
                {%elif item.subType==4%}
                确认收货发红包
                {%else%}
                卡卷转赠发红包
                {%endif%}
            </li>
            <li>{{item.startTime}}<br />{{item.endTime}}</li>
            <li>{{item.createTime}}</li>
            {%if item.status==0%}
            <li style="width:15%;">
                <div class="u-btn-smltgry"  onclick="activity.gold.redbag_modify('{{item.id}}','{{item.subType}}','{{item.status}}')">修改 </div>
                <div class="u-btn-smltgry" onclick="activity.gold.redbag_del('{{item.id}}','{{item.activityName}}','{{item.status}}')">删除 </div>
            </li>
            {%elif item.status==1%}
            <li style="width:15%;">
                <div class="u-btn-smltgry dialog-newredbag" onclick="activity.gold.redbag_view('{{item.id}}','{{item.subType}}')">查看 </div>
                <div class="u-btn-smltgry" onclick="activity.gold.redbag_set('{{item.id}}','{{item.activityName}}','{{item.status}}')"><i class="iconfont icon-righttriangle"></i>启动 </div>
                <div class="u-btn-smltgry" onclick="activity.gold.redbag_del('{{item.id}}','{{item.activityName}}','{{item.status}}')">删除 </div>
            </li>
            {%elif item.status==2%}
            <li style="width:15%;">
                <div class="u-btn-smltgry" onclick="activity.gold.redbag_view('{{item.id}}','{{item.subType}}')">查看 </div>
                <div class="u-btn-smltgry" onclick="activity.gold.redbag_set('{{item.id}}','{{item.activityName}}','{{item.status}}')"><i class="iconfont icon-pause c-lightred"></i>暂停  </div>
                <div class="u-btn-smltgry" onclick="activity.gold.redbag_del('{{item.id}}','{{item.activityName}}','{{item.status}}')">删除 </div>
            </li>
            {%elif item.status==3%}
            <li style="width:18%;">
                <div class="u-btn-smltgry" onclick="activity.gold.gold_effect('{{item.id}}')">效果</div>
                <div class="u-btn-smltgry dialog-newredbag" onclick="activity.gold.redbag_view('{{item.id}}','{{item.subType}}')">查看</div>
                <div class="u-btn-smltgry" onclick="activity.gold.redbag_againOne('{{item.id}}','{{item.subType}}')">再来 1 场 </div>
                <!--<div class="u-btn-smltgry" onclick="activity.gold.redbag_del('{{item.id}}','{{item.activityName}}','{{item.status}}')">删除 </div>-->
            </li>
            {%endif%}
        </ul>
{%endfor%}
{%else%}
<div class="m-jm-err">
    <img src="{{globalUrl}}/css/pc/img/jm-nodb.png">
</div>
{%endif%}
<!--/-->
