
<form id="typeForm">
<div class="col-xs-12">
    <label class="u-lb-sm">分类名称</label>
    <div class="u-txt col-xs-9">
        {%if type==2 and item.id<=3%}
        <input type="text"  disabled="disabled" value="{{item.typeName}}" name="typename" required data-msg-required="分类不能为空" class="ipt-txt" placeholder="请输入分类名称">
        {%elif type==2%}
        <input type="text"  value="{{item.typeName}}" name="typename" required data-msg-required="分类不能为空" class="ipt-txt" placeholder="请输入分类名称">
        {%else%}
        <input type="text"  name="typename" required data-msg-required="分类不能为空" class="ipt-txt" placeholder="请输入分类名称">
        {%endif%}
    </div>
</div>
{%if type==2 and item.id>3%}
<div class="col-xs-12">
    <label class="u-lb-sm">排序</label>
    <div class="u-txt col-xs-9">
        <input type="number" name="sortname" required data-msg-required="排序不能为空" value="{{item.sort}}" required data-msg-required="排序号不能为空" class="ipt-txt" placeholder="请输入排序号吗">
    </div>
</div>
{%endif%}
<div class="col-xs-12 m-base-info-img f-mb-xs">
    <label class="u-lb-sm">商品主图</label>
    <div class="col-xs-9">
        <div>
            <div class="base-info-img-square" style="padding: 40px 45px;">
                <div>
                    {%if type==2%}
                    <img id="m_op_img" flag="" src="{{item.imageUrl}}" alt="" height="100" width="100">
                    <input type="hidden" name="op_img_hidden" value="{{item.imageUrl}}">
                    {%else%}
                    <img id="m_op_img" flag="" src="{{globalUrl}}/css/pc/img/no_picture.png" alt="" height="100" width="100">
                    <input type="hidden" name="op_img_hidden" value="{{globalUrl}}/css/pc/img/no_picture.png">
                    {%endif%}
                </div>
                <!--<i style="position:absolute" class="iconfont icon-add"></i>-->
            </div>
        </div>

    </div>

</div>

<div class="col-xs-12 m-base-info-img">
    <label class="u-lb-sm">分享语</label>
    <div class="u-txt col-xs-9">
        {%if type==2%}
        <textarea id="ph_shared" name="ph_shared" value="{{item.shareText}}" required data-msg-required="分享语不能为空" class="ipt-txt txtarea" placeholder="">{{item.shareText}}</textarea>
        {%else%}
        <textarea id="ph_shared" name="ph_shared" required data-msg-required="分享语不能为空" class="ipt-txt txtarea" placeholder=""></textarea>
        {%endif%}
        <span class="number font-s12"><em id="ph_shared1" style="font-style: normal;">
            {{item.shareText|length}}</em>/60</span>
    </div>
</div>


<div class="u-btn-box1">
    <input type="button" class="u-btn-mddkgry f-mr-xs" id="m_ph_type_cancel" value="取消">
    <input type="button" class="u-btn-mddkorg" value="确定" id="m_ph_type_share">

</div>
</form>